@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

$font: 'Outfit', sans-serif;

@mixin center {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.box-qr-code {
    @include center();
    background-color: $white;
    width: 320px;
    height: 520px;
    border-radius: 18px;
    box-shadow: 0px 34px 56px 3px hsla(219, 15%, 55%, 0.267);

    .div-img-qr-code {
        margin-top: 17px;

        .img-qr-code {
            width: 285px;
            height: auto;
            border-radius: 12px;
            margin: 0;
        }
    }

    .div-title {
        margin: 25px;

        .title {
            font-size: 22px;
            color: $DarkBlue;
            font-weight: 700;
            text-align: center;
            margin: 0;
        }
    }

    .div-txt {
        margin: 4px 25px;

        .txt {
            font-size: 16px;
            color: $GrayishBlue;
            font-weight: 400;
            text-align: center;
            margin: 0;
        }
    }
}

.txt-atribution {
    color: $GrayishBlue;
    margin: 5px;
    font-size: 16px;

    a {
        color: $DarkBlue;
        margin-left: 3px;
        text-decoration: none;
        font-weight: 22px;
        font-weight: 700;

        .logo-danirox {
            margin-left: 3px;
            width: 70px;
        }
    }
}