@use "components";

body {
    @include components.center();
    background-color: components.$LightGray;
    font-family: components.$font;
    margin: 0;
    padding: 0;

    main {
        display: flex;
        align-items: center;
        margin-top: 20%;
    }

    footer {
        position: fixed;
        bottom: 0;

        .attribution {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 500px) {
    body {
        main {
            margin-top: 15%;
        }
    }
}

@media screen and (min-width: 600px) {
    body {
        main {
            margin-top: 10%;
        }
    }
}

@media screen and (min-width: 700px) {
    body {
        main {
            margin-top: 5%;
        }
    }
}