@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

$font: 'Outfit', sans-serif;

body {
    background-color: $LightGray;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .box-qr-code {
        background-color: $white;
        font-family: $font;
        width: 220px;
        height: 380px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        .div-img-qr-code {

            .img-qr-code {
                width: 200px;
                height: auto;
            }
        }

        .div-title {

            .title {
                font-size: 25px;
                color: $DarkBlue;
                font-weight: 700;
            }
        }

        .div-txt {
            .txt {
                font-size: 13px;
                color: $GrayishBlue;
                font-weight: 400;
            }
        }
    }
}