@use "components";

body {
    @include components.center();
    background-color: components.$LightGray;
    font-family: components.$font;
    margin: 0;
    padding: 0;

    main {
        display: flex;
    }

    footer {
        position: absolute;
        bottom: 0;

        .attribution {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}